<div class="page-header text-center">
    <h1>{{aeronave.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-12">
        <div class="form-group"> <!-- MARCA -->
            <select ng-model="aeronave.marca" name="marca" class="form-control" required>
                <option value="">Marca</option>
                <option value="Embraer">Embraer</option>
                <option value="Boing">Boing</option>
                <option value="Airbus">Airbus</option>
            </select>
            <span ng-show="formulario.$submitted && formulario.marca.$error.required" class="form-control alert-danger">
                Selecione uma opção
            </span>
        </div>

        <div class="form-group"> <!-- NOME -->
            <label>Nome</label>
            <input ng-model="aeronave.nome" name="nome" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.nome.$error.required" class="form-control alert-danger">
                NOME obrigatório
            </span>
        </div>

        <div class="form-group"> <!-- DESCRIÇÃO -->
            <label>Descrição</label>
            <input ng-model="aeronave.descricao" name="descricao" class="form-control">
        </div>

        <div class="form-group"> <!-- ANO e VENDIDO -->
            <div class="col-md-6">
                <input ng-model="aeronave.ano" name="ano" class="form-control">
            </div>
            <div class="col-md-6">
                <select ng-model="aeronave.vendido" name="vendido" class="form-control">
                    <option value="">Vendido</option>
                    <option value="true">SIM</option>
                    <option value="false">NÃO</option>
                </select>
            </div>
        </div>

        <hr>

        <div> <!-- BOTÕES -->
            <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
                Salvar
            </button>
            <a href="/" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</form>